<div class="container mt-3">
  <h4 class="tituloHome">
    Cuentas
  </h4>
  <p class="resumen">
    Resumen de cuentas de ahorros y aportaciones
  </p>
</div>

<div *ngFor="let a of accounts" class="container mb-3">
  <div class="card border-0">
    <div class="card-body">
      <h5 class="tituloCuenta">Cuentas de {{ a.AccountTypeName }}</h5>
      <div class="container">
        <div class="row">
          <div class="col-6">
            <p class="numeroCuenta">Numero de cuenta</p>
            <p class="Ncuenta ms-3">{{ a.AccountNumber }}</p>
          </div>
          <div class="col-3 ">
            <p class="balanceDisponible float-end"> Balance disponible</p>
          </div>
          <div class="col-3">
            <p class="balance"><strong>{{ a.Balance }}</strong></p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
