<div class="container mt-3 mb-5">
  <h4 class="tituloPrestamo">
    Préstamos
  </h4>
</div>
<div *ngFor="let la of loansAccounts" class="container mb-3">
  <div class="cardPrestamo card border-0" data-bs-toggle="collapse" href="#collapseExample" role="button"
    aria-expanded="false" aria-controls="collapseExample">
    <div class=" card-body">
      <h5 class="tituloCuenta">Cuentas de Prestamos</h5>
      <div class="container">
        <div class="row">
          <div class="col-4">
            <p class="numeroCuenta">Numero de cuenta</p>
            <p class="Ncuenta ms-3">{{ la.AccountNumber }}</p>
          </div>
          <div class="col-4 ">
            <p class="balanceDisponible float-end"> Balance disponible del préstamo</p>
          </div>
          <div class="col-3">
            <p class="balance">
              ${{ la.Balance }}
            </p>
          </div>
          <div class="col-1 iconoNext">
            <!-- <button (click)="getLoanTransaction({{ la.AccountID }})">Ver Detalles</button> -->
            <!-- <button (click)="hello()">Ver Detalles</button> -->
            <a [routerLink]="['/prestamos/transaccion/', la.AccountID]" class="btn btn-primary">Ver Detalles</a>
            <i class="bi bi-caret-right-fill fs-3"></i>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="collapse container" id="collapseExample">
  <div class="card card-body border-0 ">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2">Larry the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
